@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');


* {
  font-family: 'Poppins', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  transition: all.2s linear;
  box-sizing: border-box;
}

/** SCROLLBAR **/

::-webkit-scrollbar {
  width: .9rem;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--maincolor);
  border-radius: 1rem;

}



html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  font-family: 'arial', sans-serif;
}

body {
  color: var(--text-color);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  width: 100%;
}

section {
  padding: 7rem 0 3rem;
  margin: 0 auto;
}

/** ========= Navbar ================== **/


header .sticky {
  background: white;
  box-shadow: 1px 1px 18px #808080;

}

header {
  display: block;
  width: 100%;
  position: fixed;
  z-index: 100;
  transition: .3s linear;


}

.nav-section.shadow {
  box-shadow: var(--box-shadow);
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 0;
}

.logo {
  display: flex;
  align-items: center;
  gap: .8rem;
  font-size: 2.5rem;
  color: var(--text-color);
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: .15rem;
  margin-left: 3rem;

  & img {
    width: 3.8rem;
  }
}

.navbar {
  display: flex;
  gap: 4rem;

  & a {
    color: var(--text-color);
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: 600;
    position: relative;
    transition: .3s linear;

    &::after {
      position: absolute;
      content: '';
      background: var(--secondarycolor);
      height: .2rem;
      width: 100%;
      bottom: -.2rem;
      left: 0;
      transform: scaleX(0);
      transition: .3s linear;
    }
  }
}

.navbar a:hover::after {
  transform: scale(1);

}

.navbar a:hover {
  color: var(--maincolor);
}

.inout {
  display: flex;
  gap: 2rem;
  margin-right: 3rem;

  & a {
    color: var(--text-color);
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: 600;
    position: relative;
    transition: .3s linear;
  }
}

.inout a:hover {
  color: var(--maincolor);
}











/***** CONTACT Section *****/


.location {
  & iframe {
    width: 100%;
  }
}

.contact .row {
  display: flex;
  
}

.contact-col {
  flex-basis: 50%;
}

.title{
  font-size: 20px;
  padding: 8rem 15rem;
  
  & h1{
    font-weight: 500
    ;
  }

  & p{
    margin-top: 10px;
    font-weight: 400;
  }
}  

.mixed{
  display: flex;
  gap: 10rem;
  padding: 0rem 15rem;
}

.contact-section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #f2f2f2;
}

.icon-container {
  width: 50px;
  height: 50px;
  background-color: #333;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}

.text-container {
  flex: 1;
}

.contact-section h2 {
  margin-top: 0;
  margin-bottom: 10px;
}

.contact-section a {
  display: block;
  font-size: 18px;
  text-decoration: none;
  color: #333;
}