@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');


* {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    transition: all.2s linear;
    box-sizing: border-box;
}


html {
    font-size: 62.5%;
    font-family: 'arial', sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.container {
    margin: 0 350px;
}

:root {
    --bg-color: #fff;
    --textcolor: #221314;
    --secondcolor: #5a7184;
    --mainecolor: #6e54fa;
    --maincolor: #fc7c12;
    --secondarycolor: #d66500;
    --bigfont: 3rem;
    --h2font: 1.5rem;
    --pfont: 1.1rem;
}

/** SCROLLBAR **/

::-webkit-scrollbar {
    width: .9rem;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #fc7c12;
    border-radius: 1rem;

}

/* ***Navbar section *** */


header {
    display: block;
    width: 100%;
    position: fixed;
    z-index: 100;
    transition: .3s linear;
    box-shadow: 1px 1px 18px #808080;
    background-color: #fff;
}

.nav-section.shadow {
    box-shadow: var(--box-shadow);
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 0;
}

.logo {
    display: flex;
    align-items: center;
    gap: .8rem;
    font-size: 2.5rem;
    color: var(--text-color);
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: .15rem;
    margin-left: 3rem;

    & img {
        width: 3.8rem;
    }
}

.navbar {
    display: flex;
    gap: 4rem;

    & a {
        color: var(--text-color);
        font-size: 1.6rem;
        text-transform: uppercase;
        font-weight: 600;
        position: relative;
        transition: .3s linear;

        &::after {
            position: absolute;
            content: '';
            background: var(--secondarycolor);
            height: .2rem;
            width: 100%;
            bottom: -.2rem;
            left: 0;
            transform: scaleX(0);
            transition: .3s linear;
        }
    }
}

.navbar a:hover::after {
    transform: scale(1);

}

.navbar a:hover {
    color: var(--maincolor);
}

.inout {
    display: flex;
    gap: 2rem;
    margin-right: 3rem;

    & a {
        color: var(--text-color);
        font-size: 1.6rem;
        text-transform: uppercase;
        font-weight: 600;
        position: relative;
        transition: .3s linear;
    }
}

.inout a:hover {
    color: var(--maincolor);
}

/* ***gallery section*** */
.gallary {
    padding-top: 9rem;
}

.gallary .text {
    height: 36px;
    width: 1225px;
    font-size: 20px;
    font-weight: 900;
}

.image {
    height: 299px;
    width: 1235px;
    display: flex;
    gap: 1rem;

}


/* Slider container */
.slider-container {
    position: relative;
    max-width: 1000px;

    overflow: hidden;
}

/* Slide images */
.slides {
    display: flex;
    height: 299px;
    width: 1000px;
}


.slide {
    height: 299px;
    width: 570px;
    display: none;
    border-radius: 5px;
}


.image .imgtwo {
    height: 298px;
    width: 410px;

    & .imagee {
        height: 299px;
        width: 410px;
        border-radius: 5px;
    }
}

.image .imgthree {
    height: 276px;
    width: 410px;


    & img {
        height: 149px;
        width: 215px;
        border-radius: 5px;
    }
}

/*********** topic section ***********/

.topic {

    margin-top: 4rem;
    cursor: pointer;


}

.two-topic--btn {
    display: flex;
    gap: 2rem;
    position: relative;

    & button {
        background: white;
        color: #000;
        box-shadow: .2rem .2rem 1rem #636464;
        cursor: pointer;
        border: none;
        display: block;
        font-size: 18px;
        font-weight: 600;
        width: 20rem;
        text-align: center;
        padding: 1rem;
        transition: .3s linear;
    }
}

.pagecont {
    display: flex;
    margin-top: 1rem;
    gap: 3rem;
}


.leftside {
    width: 870px;
    background-color: aqua;
}

.itineary-title {
    position: sticky;
    top: 8rem;
    z-index: 1;
    width: 100%;
    padding: 20px 0 15px 30px;
    background-color: #f1faee;
}

.itineary-title .title {
    font-size: 25px;
    font-weight: 600;
}

.allinfo .abc {
    position: relative;

    & .title {
        font-size: 20px;
        width: 300px;
        padding: 20px 0 10px 10px;
        position: -webkit-sticky;
        position: sticky;
        top: 14.3rem;
        background-color: #fc7c12;
        z-index: 0;
    }

    & .addinfo {
        padding: 30px 15px 10px 50px;
        font-size: 18px;
    }
}

.policies {
    display: none;
    list-style: circle;

    & h1 {
        font-size: 25px;
        font-weight: 600;
        background-color: #f1faee;
        position: sticky;
        top: 8rem;
        z-index: 1;
        width: 100%;
        padding: 20px 0 15px 30px;
    }
}

.allpolicies {
    padding: 10px 10px;

    & h2 {
        font-size: 20px;
        font-weight: 600;
    }

    & .contentList {
        margin-left: 4rem;
        padding-top: 1rem;
    }

    & li {
        list-style: circle;
        font-size: 17px;
    }
}


/* booking part */
.rightside {
    background-color: aqua;
    width: 310px;
    height: 400px;
}

.oneperson, .group {
    & h1 {
        font-size: 25px;
        font-weight: 600;
        position: sticky;
        top: 8rem;
        z-index: 1;
        padding: 20px 0 15px 30px;
        background-color: #f1faee;
        display: flex;

        & p{
            font-size: 18px;
            padding-top: 5px;
        }
    }

    & img {
        height: 4rem;
        width: 4rem;
        background-color: aqua;
    }
}

.money {
    display: flex;
    padding: 20px 0 15px 30px;
    box-shadow: 0 1px 1px;
    & h2{
        font-size: 20px;
        font-weight: 700;
        padding-top: 7px;
    }
}

.btn{
    height: 5rem;
    width: 70%;
    margin:  1.5rem 5rem;
    background-color: #fc7c12;
    font-size: 18px;
    font-weight: 600;
    border-radius: 1rem;   
    color: #000;

    &:hover{
        background-color: var(--secondarycolor);
        color: #fff;
    }

}

